<!--引入头部文件，如css-->
<include file="Common:header" />
	<body style="background: none;">
		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-lg-10" style="display: flex;margin-top: 20px;">
					<div style="margin-top: 10px;"></div>
					<ol class="breadcrumb">
						<li class="active">
							<label>待提货订单:&nbsp;一共<span style="color: #0d8ddb;font-weight: bold;font-size: 25px;">{$paycount}</span>单</label>
                         <label style="margin-left: 60px;">今日订单:&nbsp;一共<span style="color: #0d8ddb;font-weight: bold;font-size: 25px;">{$todaycount}</span>单</label>
						</li>
					</ol>
					<div class="layui-inline">
						<!--<form action="{:U('Orderlist/payorder')}" method="post" >-->
							<div class="layui-input-inline" style="display: flex;padding-left: 50px;">
								<input type="text" name="keyword" id="keyword" placeholder="提单号/订单号/手机号" class="layui-input" style="width: 250px;" value="{$keyword}">
								<button class="layui-btn" id="findkeyword" >查找</button>
							</div>
						<!--</form>-->
					</div>
				</div>
			</div>
			<!--主体部分-->
			<div class="row">
				<div class="col-sm-12">
					<div class="ibox">
						<div class="tab-content">
							<div id="tab-2">
								<div class="full-height-scroll">
									<div class="table-responsive">
										<table class="table table-striped  dataTables-example">
											<thead>
											<tr>
												<th>提单号</th>
												<th>商品描述</th>
												<!--<th>商品名称</th>-->

												<th>价格</th>
												<th>数量</th>
												<th>单品金额</th>
												<th>总单金额</th>
												<th>手机号</th>
												<th>用户名</th>
											  <th>门店编号</th>
											  <th>订单来源</th>
												<th>订单号</th>
											  <th>提成</th>
												<th>下单时间</th>
											</tr>
											</thead>
											<tbody>
											<foreach name="info" item="v">
											<tr class="gradeX">
												<td class="center">{$v.oid}</td>
												<td style="width:120px;">{$v.onum}</td>
												<!--<td>{$v.gtitle}</td>-->

												<td>{$v.gyhprice}</td>
												<td>{$v.buynum}</td>
												<td>{$v.goodallmoney}</td>
											<td>{$v.opaymoney}</td>
												<td>{$v.ouserphone}</td>
												<td>{$v.ousername}</td>
											  <td>{$v.dnum}</td>
											  <td>{$v.dname}</td>
												<td>{$v.onumber}</td>
											  <td>{$v.gticheng}</td>
												<td>{$v.oaddtime}</td>
											</tr>
											</foreach>

											</tbody>
										</table>
										<div class="pages">
											{$page}
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
		<!--引入外部js文件-->
		<include file="Common:footer" />
		<script>
			$(".loadimg").on("change", "input[type='file']", function() {
				var filePath = $(this).val();
				if(filePath.indexOf("jpg") != -1 || filePath.indexOf("png") != -1) {
					$(".fileerrorTip").html("").hide();
					var arr = filePath.split('\\');
					var fileName = arr[arr.length - 1];
					$(".showFileName").html(fileName);
				} else {
					$(".showFileName").html("");
					$(".fileerrorTip").html("您未上传文件，或者您上传文件类型有误！").show();
					return false
				}
			});
            layui.use('layer', function(){
                var layer = layui.layer;
                $("#findkeyword").click(function () {
                    layer.load();
                    var getkeyword=$('#keyword').val();
                    $.post("{:U('Orderlist/payorder')}",{keyword:getkeyword},function (a) {
                        window.location.href="{:U('Orderlist/payorder')}?keyword="+getkeyword;
                    })

                })
            });

		</script>

	</body>

</html>