<!--这里写引入的js文件-->
<!-- Mainly scripts -->
<script src="__PUBLIC__/admin/js/jquery-3.1.1.min.js"></script>
<script src="__PUBLIC__/admin/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__PUBLIC__/admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<script src="__PUBLIC__/admin/js/plugins/dataTables/datatables.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="__PUBLIC__/admin/js/inspinia.js"></script>
<script src="__PUBLIC__/admin/js/plugins/pace/pace.min.js"></script>
<!-- Sweet alert -->
<script src="__PUBLIC__/admin/js/plugins/sweetalert/sweetalert.min.js"></script>
<!-- Page-Level Scripts -->
<!-- Toastr script -->
<script src="__PUBLIC__/admin/js/plugins/toastr/toastr.min.js"></script>
<!-- SUMMERNOTE -->
<script src="__PUBLIC__/admin/js/plugins/summernote/summernote.min.js"></script>
<!-- Data picker -->
<script src="__PUBLIC__/admin/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="https://cdn.bootcss.com/summernote/0.8.10/lang/summernote-zh-CN.js"></script>
<!-- Select2 -->
<script src="__PUBLIC__/admin/js/plugins/select2/select2.full.min.js"></script>
<!-- Ladda -->
<script src="__PUBLIC__/admin/js/plugins/ladda/spin.min.js"></script>
<script src="__PUBLIC__/admin/js/plugins/ladda/ladda.min.js"></script>
<script src="__PUBLIC__/admin/js/plugins/ladda/ladda.jquery.min.js"></script>