/*清除浏览器默认样式*/
/*
@charset "UTF-8";
html {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
}

@media only screen and (min-width: 400px) {
    html {
        font-size: 21.33333333px !important;
    }
}

@media only screen and (min-width: 414px) {
    html {
        font-size: 21px !important;
    }
}

@media only screen and (min-width: 480px) {
    html {
        font-size: 25.6px !important;
    }
}
*/
html,
body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: auto;
    width: 100%;
    height: 100%;
}
/*
body {
    line-height: 1.5;
    font-size: 0.8rem;
    outline: 0;
} 
*/
main {
    width: 100%;
    height: 100%;
}

header,
main,
nav,
section,
footer,
div {
    box-sizing: border-box;
}

html,
body,
header,
section,
footer,
div,
ul,
ol,
li,
img,
a,
span,
em,
del,
legend,
strong,
var,
fieldset,
form,
label,
dl,
dt,
dd,
cite,
input,
hr,
time,
mark,
code,
figcaption,
figure,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    border: 0;
    padding: 0;
    font-style: normal;
}

*,
:before,
:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: auto;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    touch-action: pan-y;
}

ul,
li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

input {
    border: none;
    outline: none;
    -webkit-appearance: none;
}

textarea {
    overflow: hidden;
    resize: none;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
input,
select,
textarea {
    font: inherit;
    color: inherit;
}

/*弹性盒子*/

.flex-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row nowrap;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row nowrap;
    flex-direction: row nowrap;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    word-break: break-all;
}

.flex-row-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row wrap;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row wrap;
    flex-direction: row wrap -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    word-break: break-all;
}

.flex-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    word-break: break-all;
}

.flex-1 {
    height: 100%;
    -webkit-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
}

.flex-2 {
    height: 100%;
    -webkit-flex: 2;
    -ms-flex: 2;
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    flex: 2;
}

.flex-3 {
    height: 100%;
    -webkit-flex: 3;
    -ms-flex: 3;
    -webkit-box-flex: 3;
    -moz-box-flex: 3;
    flex: 3;
}

.flex-jus {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-ali {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*自动隐藏文字*/

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ellipsis-2 {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.ellipsis-3 {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

/*清除浮动*/

.clear-fix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

/*显示隐藏*/

.hide {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.show {
    display: block !important;
}

.inline {
    display: inline-block;
}

/*边框*/

.border:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #dddddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

.border-t:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 1px solid #dddddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

.border-b:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid #dddddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

.border-l:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-left: 1px solid #dddddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

.border-r:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid #dddddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

/*遮罩*/

.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    z-index: 7;
    visibility: hidden;
    -webkit-transition: opacity .3s,-webkit-transform .3s;
    transition: opacity .3s,transform .3s;
}

.mask.mask-in {
    visibility: visible;
    opacity: 1;
}

.mask.mask-out {
    opacity: 0;
}

/*禁止滑动*/

.unable-move {
    overflow: hidden;
    height: 100%;
}

/*vue渲染*/

[v-cloak] {
    display: none;
}
