<include file="Common:header" />

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div style="margin-top: 50px;">
        	<span>欢迎登录公众号管理后台系统</span>
            <form class="m-t" role="form" action="__SELF__" method="post">
                <span style="color:red;"></span>
                <div class="form-group">
                    <input type="text" class="form-control" id="username" placeholder="用户名" name="name" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="psw" placeholder="密码" name="password" required="">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入验证码" name="captcha" required="">
                </div>
                <div class="form-group">
                    <img src="__CONTROLLER__/VerifyImg" width="100%" height="35px" title="点击更新验证码" alt="点击更新认证码" onClick="this.src='__CONTROLLER__/VerifyImg/'+Math.random()" />
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">登录</button>
            </form>
            <p class="m-t"> <small>Copyright © 2018 中策传媒</small> </p>
        </div>
    </div>

    <include file="Common:footer" />
</body>

</html>
