<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/home_admin/css/hyp.css" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/home_admin/css/xsyx.css" />
        <title>订单详情</title>
    </head>
    <body class="bg body-t">
        <div class="header-container no-border">
            <a class="left" onclick="javascript:history.back();">
                <img src="__PUBLIC__/home/home_admin/images/icon/left.png" />
                <span>返回</span>
            </a>
            <div class="middle">订单详情</div>
            <a class="right" href=""></a>
        </div>
        <div class="tihuo-tip">
            <div class="left">
                <img src="__PUBLIC__/home/home_admin/images/icon/tihuo.png" />
                <p>待提货</p>
            </div>
            <div class="right">
                <p>提货单号：<span class="active">18</span></p>
            </div>
        </div>
        <div class="info-container1">
            <div class="top">
                <span>收货人：</span>
                <p>芳芳砣</p>
                <p>13027430997</p>
            </div>
            <div class="middle">
                提货地点：湖南省长沙市岳麓区咸嘉湖街道润泽园小区A10栋
            </div>
            <div class="bottom">
                自提点：岳麓润泽园小区雅堂小超店 15111321125
            </div>
        </div>
        <div class="list-container1">
            <div class="item">
                <div class="title">
                    <p>订单编号：180626001462011606045</p>
                    <p style="color: #e70012;">待提货</p>
                </div>
                <a class="info-1" >
                    <div class="left"></div>
                    <div class="right">
                        <div class="name">不锈钢液压蒜泥神器1个 口径为2.5cm 手柄长度为15cm</div>
                        <div class="bottom">
                            <p style="color: #e70012;">￥50.0</p>
                            <p>2个</p>
                        </div>
                    </div>
                </a>
                <div class="info-2">
                    <div class="left">
                        <p class="active">06月29日  16:00提货</p>
                        <p style="margin-top: 0.2667rem;">下单时间：2018-06-27 17:23:13</p>
                    </div>
                    <div class="right">确认提货</div>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <p>订单编号：180626001462011606045</p>
                    <p style="color: #e70012;">未付款</p>
                </div>
                <a class="info-1" >
                    <div class="left"></div>
                    <div class="right">
                        <div class="name">不锈钢液压蒜泥神器1个 口径为2.5cm 手柄长度为15cm</div>
                        <div class="bottom">
                            <p style="color: #e70012;">￥80.0</p>
                            <p>3个</p>
                        </div>
                    </div>
                </a>
                <div class="info-2">
                    <div class="left">
                        <p class="active">06月29日  16:00提货</p>
                        <p style="margin-top: 0.2667rem;">下单时间：2018-06-27 17:23:13</p>
                    </div>
                    <div class="right">确认提货</div>
                </div>
            </div>
        </div>
        <div class="price-container1">
            <p class="top">共计<span>2</span>个商品&nbsp;&nbsp;合计：<span>￥100.0</span></p>
            <p class="bottom">应付金额：<span>￥100.0</span></p>
        </div>
        <div class="footer-container1">
            <div class="right">确认提货</div>
        </div>
    </body>
    <script type="text/javascript" src="__PUBLIC__/home/home_admin/js/hyp.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/home_admin/js/xsyx.js"></script>

</html>
