<!--引入头部文件，如css-->
<include file="Common:header" />
	<body style="background: none;">
		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-lg-10">
					<div style="margin-top: 10px;"></div>
					<ol class="breadcrumb">

						<li class="active">
							<label>待支付订单</label>
						</li>
					</ol>
				</div>
			</div>
			<!--主体部分-->
			<div class="row">
				<div class="col-sm-12">
					<div class="ibox">
						<div class="ibox-content">
							<div class="clients-list">
								<div class="tab-content">
									<div id="tab-2">
										<div class="full-height-scroll">
											<div class="table-responsive">
												<table class="table table-striped  dataTables-example">
													<thead>
													<tr>
														<th>id</th>
														<th>商品图片</th>
														<th>商品名称</th>
														<th>订单号</th>
														<th>价格</th>
														<th>数量</th>
														<th>实付金额</th>
														<th>手机号</th>
														<th>用户名</th>
														<th>添加时间</th>
													</tr>
													</thead>
													<tbody>
													<foreach name="info" item="v">
													<tr class="gradeX">
														<td class="center">{$v.oid}</td>
														<td><img src="__PUBLIC__/{$v.gtopimg}" width="45" height="45" /></td>
														<td>{$v.gtitle}</td>
														<td>{$v.onumber}</td>
														<td>{$v.gyhprice}</td>
														<td>{$v.onum}</td>
														<td>{$v.opaymoney}</td>
														<td>{$v.ouserphone}</td>
														<td>{$v.ousername}</td>
														<td>{$v.oaddtime}</td>
													</tr>
													</foreach>

													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!--引入外部js文件-->
		<include file="Common:footer" />
		<script>
			$(".loadimg").on("change", "input[type='file']", function() {
				var filePath = $(this).val();
				if(filePath.indexOf("jpg") != -1 || filePath.indexOf("png") != -1) {
					$(".fileerrorTip").html("").hide();
					var arr = filePath.split('\\');
					var fileName = arr[arr.length - 1];
					$(".showFileName").html(fileName);
				} else {
					$(".showFileName").html("");
					$(".fileerrorTip").html("您未上传文件，或者您上传文件类型有误！").show();
					return false
				}
			});

		</script>
		<script>
            $(document).ready(function(){
                $('.dataTables-example').DataTable({
                    pageLength: 10,
                    responsive: true,
                    buttons: [
                        {
                            customize: function (win){
                                $(win.document.body).addClass('white-bg');
                                $(win.document.body).css('font-size', '10px');
                                $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                            }
                        }
                    ]

                });

            });
		</script>
	</body>

</html>