<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/home_admin/css/hyp.css" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/home_admin/css/xsyx.css" />
        <title>申请提现</title>
    </head>
    <body class="body-t bg">
        <div class="header-container">
            <a class="left" onclick="javascript:history.back();">
                <img src="__PUBLIC__/home/home_admin/images/icon/left.png" />
                <span>返回</span>
            </a>
            <div class="middle">申请提现</div>
            <a class="right" href=""></a>
        </div>
        <div class="apply-container">
            <div class="header">
                <p class="left">可提现金额</p>
                <p class="right"><span>￥</span>{$enablemoney}</p>
            </div>
            <div class="input">
                <p>提现金额</p>
                <div class="flex-row" style="border-bottom: 1px solid #ddd;">
                    <span>￥</span>
                    <form method="post" action="{:U('Cashapply/tixian')}" id="posttixian">
                        <input type="hidden" name="yue" value="{$enablemoney}">
                        <input type="hidden" name="sid" value="{$sid}">
                    <input type="number" id="txmoney" name="txmoney">
                    </form>
                </div>
            </div>
            <p class="tip">提现申请提交成功后，预计24小时到账（国家法定节假日顺延），请到提现账户绑定的银行卡查看是否到账。</p>
            <a class="btn-container4" onclick="tixian('{$sid}','{$enablemoney}')">立即提现</a>
        </div>
        
    </body>
    <script type="text/javascript" src="__PUBLIC__/home/home_admin/js/hyp.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/home_admin/js/xsyx.js"></script>
   <script type="text/javascript" src="__PUBLIC__/home/home_admin/js/jquer3.1.js"></script>
    <script>
        function tixian(sid,enblemoney) {
           getmoney= $('#txmoney').val();
           if ((enblemoney-getmoney)<0){
               alert('余额不足！');
           }else if(getmoney<1){
               alert('提现金额不能小于1元');
           }else{
               if(window.confirm('当次提现金额为'+getmoney+'元，是否提现？')){
                   $.post(
                       "{:U('Cashapply/istixian')}",
                       {
                           'txmoney':getmoney
                       },function (e) {
                           e=JSON.parse(e);
                          console.log(e);
                           if (e.status==1){
                               console.log('可以');
                               $('#posttixian').submit();
                               console.log('提现金额：'+getmoney);
                               return true;
                           }else{
                               alert('总余额不足！');
                               console.log('总余额不足');
                           }
                       });
               }else{
                   return false;
               }

           }
        }

    </script>

</html>
