<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/hyp.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/xsyx.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/order-detail.css" />
    <title>{$iske=='yes'?'代客下单-' :''}订单确认</title>
    <script type="text/javascript" src="__PUBLIC__/home/home_admin/js/jquer3.1.js"></script>
</head>
<body>
<div class="header-container">
    <a class="left" onclick="javascript:history.back();">
        <img src="__PUBLIC__/home/images/icon/left.png" />
        <span>返回</span>
    </a>
    <div class="middle">确认订单</div>
    <a class="right"></a>
</div>
<div class="detail-container">
    <div class="info-container">
        <div class="top">
            <span>{$iske=='yes'?'代客姓名' :'收货人'}：</span>
            <input placeholder="联系人" value="{$userinfo.nickname}" name="nickname" id="username" />
            <input placeholder="手机号码" value="{$userinfo.phone}"  name="phone" id="userphone"/>
        </div>
        <div class="middle">
            提货地点：{$shopinfo.daddress|default="暂无地址"}
        </div>
        <div class="bottom">
            自提点：{$shopinfo.dname} &nbsp;&nbsp;{$shopinfo.dphone|default="暂无"}
        </div>
    </div>
    <div class="list-container">
        <if condition="$onegoodsize eq 1">
            <div class="item">
                <img class="image" src="__PUBLIC__/{$onegood.imgurl}" />
                <div class="info">
                    <div class="top">
                        <input type="hidden" value="{$onegood.id}"/>
                        <p class="name">{$onegood.name} </p>
                        <p class="describe">{$onegood.gdes}&nbsp;&nbsp;&nbsp;<span>x{$onegood.num}</span></p>
                        <div class="comment" >
                            <input type="hidden"  value="{$onegood.name} x {$onegood.num}">
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="left"><span>￥</span>{$onegood.saleprice}&nbsp;&nbsp;<s>￥{$onegood.gprice}</s></div>
                        <div class="right">{$shopinfo.dendtime}&nbsp;&nbsp;16:00提货</div>
                    </div>
                </div>
            </div>

            <else />
            <foreach  name="goods" item="v">
                <div class="item">
                    <img class="image" src="__PUBLIC__/{$v.imgurl}" />
                    <div class="info">
                        <div class="top">
                            <input type="hidden" value="{$v.id}"/>
                            <p class="name">{$v.name} </p>
                            <p class="describe">{$v.gdes}&nbsp;&nbsp;&nbsp;<span>x{$v.num}</span></p>
                            <div class="comment" >
                                <input type="hidden"  value="{$v.name} x {$v.num}">
                            </div>

                        </div>
                        <div class="bottom">
                            <div class="left"><span>￥</span>{$v.saleprice}&nbsp;&nbsp;<s>￥{$v.gprice}</s></div>
                            <div class="right">{$shopinfo.dendtime}&nbsp;&nbsp;16:00提货</div>
                        </div>
                    </div>
                </div>
            </foreach>
        </if>

    </div>
    <div class="price-container">
        <if condition="$onegoodsize eq 1">
            <p class="top">共计1个商品&nbsp;&nbsp;合计：<span>￥{$onegood.totalprice}</span></p>
            <p class="bottom">应付金额：<span>￥{$onegood.totalprice}</span></p>
            <else/>
            <p class="top">共计{$goodtypenums}个商品&nbsp;&nbsp;合计：<span>￥{$totalprice}</span></p>
            <p class="bottom">应付金额：<span>￥{$totalprice}</span></p>
        </if>
    </div>
</div>
<div class="footer-container">
    <div class="left">
        <span class="text-1">合计：</span>
        <span class="text-2">￥</span>
        <if condition="$onegoodsize eq 1">
            <span class="text-4">{$onegood.totalprice}</span>
            <else/>
            <span class="text-4">{$totalprice}</span>
        </if>

    </div>
    <div class="right">立即支付</div>
</div>

<div id="mask" class="mask mask-out"></div>
<div class="flex hid">
    <div class="flex-head">此商品需要您到店自提，请仔细确认地址！</div>
    <div class="flex-foot">
        <p>提货地址：<span>{$shopinfo.daddress|default="暂无地址"}</span></p>
        <p>（自提点：{$shopinfo.dname} {$shopinfo.dphone|default="暂无"}）</p>
        <h4>{$shopinfo.dendtime} 16:00提货</h4>
        <div class="flex-btn">
            <div class="flex-btns">取消付款</div>
            <div class="flex-btns"><a onclick="pay();">确认订单</a></div>
        </div>
    </div>
</div>
</body>
<script>
    var jsfori=0;
    var  jsforsid=0;
</script>
<script type="text/javascript" src="__PUBLIC__/home/js/hyp.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/xsyx.js"></script>
<script>
    var getgoodid= [];
    var goodcomment= [];
    function pay() {
         var checkgoodid=[];
         var mycomment=[];
        for(var i = 0; i < $(".list-container .item").length; i++){
            var goodid = $(".item").eq(i).find(".info .top input").val();
            var comment = $(".item").eq(i).find(".info .top .comment input").val();
            checkgoodid.push(goodid);
            mycomment.push(comment);
        }
        $.post(
            "{:U('Pay/checkkucun')}",
            {
               'goodids':checkgoodid, 
                'goodcomment':mycomment
            },function (e) {
              e=JSON.parse(e);
              if (e.status==1){
                  console.log('可以');
                  if (username==''||userphone==''){
                      alert('手机或者收货人不可为空');
                      return false;
                  }else{
                      for(var i = 0; i < $(".list-container .item").length; i++){
                          var goodid = $(".item").eq(i).find(".info .top input").val();
                          var comment = $(".item").eq(i).find(".info .top .comment input").val();
                          getgoodid.push(goodid);
                          goodcomment.push(comment);
                      }
                      if("{$onegoodsize}"==1){
                          totalprice="{$onegood.totalprice}";
                      }else{
                          totalprice="{$totalprice}";
                      }
                      username=$("#username").val();
                      userphone=$("#userphone").val();
                      //提交数据到确认支付页面并保存订单
                      var sid="{$sid}";
                      var parames = new Array();
                      parames.push({ name: "sid", value: sid});
                      parames.push({ name: "username", value: username});
                      parames.push({ name: "userphone", value: userphone});
                      parames.push({ name: "totalprice", value: totalprice});
                      parames.push({ name: "goodid", value: JSON.stringify(getgoodid)});
                      parames.push({ name: "goodcomment", value: JSON.stringify(goodcomment)});
                      //删除购物车的数据
                      for(var i=0;i<getgoodid.length;i++){
                          cart.deleteproduct(getgoodid[i],sid)
                      }
                      Post("{:U('Pay/index')}",parames);
                  }
              }else{
                 alert('商品库存不足，请重新现在购买数量');
                  console.log('库存有限哦，不能提交');
                  
              }
        });
        


    }
    /*
    *功能： 模拟form表单的提交
    *参数： URL 跳转地址 PARAMTERS 参数
    */
    function Post(URL, PARAMTERS) {
        //创建form表单
        var temp_form = document.createElement("form");
        temp_form.action = URL;
        //如需打开新窗口，form的target属性要设置为'_blank'
        temp_form.target = "_self";
        temp_form.method = "post";
        temp_form.style.display = "none";
        //添加参数
        for (var item in PARAMTERS) {
            var opt = document.createElement("textarea");
            opt.name = PARAMTERS[item].name;
            opt.value = PARAMTERS[item].value;
            temp_form.appendChild(opt);
        }
        document.body.appendChild(temp_form);
        //提交数据
        temp_form.submit();
    }
</script>

</html>
