<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/hyp.css" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/xsyx.css" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/index.css" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/home_admin/css/aui-pull-refresh.css" />
        <title>首页</title>
    </head>
    <body>
    <section class="aui-refresh-content">
        <img class="banner" src="__PUBLIC__/home/images/other/banner.jpg" />
        <div class="index-container">
            <div class="header-container">
                <div class="search">
                    <img src="__PUBLIC__/home/images/icon/search.png" />
                    <input placeholder="输入商品名称，搜索商品"  id="seach"/>
                </div>
                <div class="info">
                    <img class="left" width="50" height="50" src="__PUBLIC__/{$shopinfo.dheaderimg}" />
                    <div class="middle">
                        <p>{$shopinfo.dphone}</p>
                        <p>{$shopinfo.dname}</p>
                        <p class="sign">{$shopinfo.dsign}</p>
                    </div>
                    <div class="right">
                        <p class="title-1">粉丝数</p>
                        <p class="count">{$usernum}</p>
                        <p class="title-2">购买指数</p>
                        <p class="count">{$ordernum}</p>
                    </div>
                </div>
            </div>
            <foreach name="goodsinfo" item="v">
            <div class="goods-container">
                <div class="header">本商品由{$v.gboss}专供</div>
                <a href="{:U('Waredetail/index')}?sid={$sid}&gid={$v.gid}">
                    <img class="image" src="__PUBLIC__/{$v.gtopimg}" />
                </a>
                <div style="padding: 0 0.2667rem;">
                    <div class="container-1">
                        <a class="top" href="{:U('Waredetail/index',array('sid'=>$sid,'gid'=>$v[gid]))}">
                            <div class="goodname">{$v.gtitle}</div>
                        </a>
                        <dix class="bottom">
                            <div class="left">
                                <span>￥</span>{$v.gyhprice}&nbsp;&nbsp;<s>￥{$v.gprice}</s>
                            </div>
                            <div class="right">
                                已售 <span>{$v.salenum|default=0}</span> 份/ 限量{$v.gendnum}份
                            </div>
                        </dix>
                    </div>
                    <div class="container-2">
                        <div class="left">
                            <p style="margin-bottom: 0.2rem;">预售时间：<span>{$shopinfo.dpretime}</span></p>
                            <p>提货时间：<span>{$shopinfo.dendtime}</span></p>
                        </div>
                        <if condition="$v['gendnum'] eq 0">
                            <div style="color: #999;padding:18px;font-size: 0.3333rem;border-radius: 5px;border: 1px solid #999;">已售罄</div>
                            <else/>
                            <div class="right" onclick="addcat('{$v.gid}','{$v.gtopimg}','{$v.gtitle}','{$v.gdes}','{$v.gyhprice}','{$v.gprice}','{$sid}')">加入购物车</div>
                        </if>
                    </div>
                    <div class="container-3">
                        <foreach name="v.userinfo" item="vv">
                            <!--头像到时需要去掉public-->
                            <img src="{$vv.headerimg}"/>{$vv.nickname}
                        </foreach>
                            <span>&nbsp;等刚购买此商品</span>
                    </div>
                </div>
            </div>
            </foreach>
            <!-- 新增底部开始 -->
            <div class="goods-container">
                <div class="addhead">兴盛优选入驻指南</div>
                <div class="addfoot">
                    <div class="addleft">
                        <p class="addtxt">兴盛优选加盟店入驻</p>
                        <p class="addtel">186<span>8478</span>5499</p>
                    </div>
                    <a class="addright" href="tel:18684785499"><img src="__PUBLIC__/home/images/icon/phone.png" alt=""></a>
                    <div class="addleft">
                        <p class="addtxt">兴盛优选优质供应商入驻</p>
                        <p class="addtel">186<span>8478</span>5499<small>( 肖 )</small></p>
                    </div>
                    <a class="addright" href="tel:18684785499"><img src="__PUBLIC__/home/images/icon/phone.png" alt=""></a>
                </div>
            </div>
            <!-- 新增底部结束 -->
        </div>
        <div class="footer-container">
            <a class="cart" onclick="postcartdata();">
                <img src="__PUBLIC__/home/images/other/cart.png" />
                <p class="count hid">0</p>
            </a>
            <div class="tab">
                <img src="__PUBLIC__/home/images/icon/home.png" />
                <p style="color: #e70012;">首页</p>
            </div>
            <a class="tab" href="{:U('My/index',array('sid'=>$sid))}">
                <img src="__PUBLIC__/home/images/icon/my.png" />
                <p>我的</p>
            </a>
        </div>
    </section>
    <!-- 返回顶部 -->
    <div class="totop hid"><span></span></div>
    </body>
    <script type="text/javascript" src="__PUBLIC__/home/home_admin/js/jquer3.1.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/home_admin/js/aui-pull-refresh.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script>
        var jsfori=0;
        var jsforsid="{$sid}";
    </script>
    <script>
        //下拉刷新
        var pullRefresh = new auiPullToRefresh({
            container: document.querySelector('.aui-refresh-content'),
            triggerDistance: 500
        },function(ret){
            if(ret.status=="success"){
                // setTimeout(function(){
                window.location.reload();
                // pullRefresh.cancelLoading(); //刷新成功后调用此方法隐藏
                //},2000)

            }
        })
        function addcat(gid,gtopimg,gtitle,gdes,gyhprice,gprice,sid) {
            //保存的数据
            product={
                id:gid,
                name:gtitle,
                num:1,
                gdes:gdes,
                saleprice:gyhprice,
                gprice:gprice,
                imgurl:gtopimg,
                sid:sid
            };
            cart.addproduct(product);
           var getdata= cart.getproductlist("{$sid}");
           //console.log(JSON.stringify(getdata));
        }
        function postcartdata() {
            var sid="{$sid}";
            var getdata= cart.getproductlist(sid);
            var parames = new Array();
            parames.push({ name: "sid", value: sid});
            parames.push({ name: "shoppingcart", value: JSON.stringify(getdata)});
            Post("{:U('Cart/index')}",parames);
           // console.log(getdata);
        }
        /*
        *功能： 模拟form表单的提交
        *参数： URL 跳转地址 PARAMTERS 参数
         */
        function Post(URL, PARAMTERS) {
            //创建form表单
            var temp_form = document.createElement("form");
            temp_form.action = URL;
            //如需打开新窗口，form的target属性要设置为'_blank'
            temp_form.target = "_self";
            temp_form.method = "post";
            temp_form.style.display = "none";
            //添加参数
            for (var item in PARAMTERS) {
                var opt = document.createElement("textarea");
                opt.name = PARAMTERS[item].name;
                opt.value = PARAMTERS[item].value;
                temp_form.appendChild(opt);
            }
            document.body.appendChild(temp_form);
            //提交数据
            temp_form.submit();
        }
        //查询
        var goodname = [];//商品名
       // var order = [];//订单号
        //var bl = [];//提单号
        for(var i = 0 ; i < $(".goods-container").length ; i++){
            goodname[i] = $(".goods-container").eq(i).find('.top').text();
//            order[i] = $(".item").eq(i).find('.title p').eq(0).text().substring(5);
//            bl[i] = $(".item").eq(i).find('.left span').text();
        }
//        $(".btn").on("click",function(){
//            var phone = $(".search input").val();
//            $(".item").css('display', 'none');
//            for(var i = 0 ; i < $(".item").length ; i++){
//                if(phones[i].indexOf(phone,0) >= 0 || order[i].indexOf(phone,0) >= 0 || bl[i].indexOf(phone,0) >= 0){
//                    $(".item").eq(i).css('display', 'flex');
//                }
//            }
//        });
        $('#seach').blur(function () {
            getkeyword=$('#seach').val();
            $(".goods-container").css('display', 'none');
            for(var i = 0 ; i < $(".goods-container").length ; i++){
                if(goodname[i].indexOf(getkeyword,0) >= 0){
                    $(".goods-container").eq(i).css('display', 'flex');
                }
            }

           console.log('失去焦点'+getkeyword);
        });
        $('#seach').on('input propertychange', function() {
            getkeyword=$('#seach').val();
            $(".goods-container").css('display', 'none');
            for(var i = 0 ; i < $(".goods-container").length ; i++){
                if(goodname[i].indexOf(getkeyword,0) >= 0){
                    $(".goods-container").eq(i).css('display', 'flex');
                }
            }
            console.log(getkeyword);
        })
    </script>
    <script type="text/javascript" src="__PUBLIC__/home/js/hyp.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/xsyx.js"></script>
    <!--微信分享-->
    <script>
        wx.config({
            debug: false, // 开启调试模式
            appId: '{$jssdkArr["appId"]}', // 必填，公众号的唯一标识
            timestamp: {$jssdkArr['timestamp']}, // 必填，生成签名的时间戳
            nonceStr: '{$jssdkArr["nonceStr"]}', // 必填，生成签名的随机串
            signature: '{$jssdkArr["signature"]}',// 必填，签名
            jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo','onMenuShareQZone'] // 必填，需要使用的JS接口列表
        });

        wx.ready(function(){
            var title = '{$fxArr.title}'
                ,link = '{$fxArr.link}'
                ,imgUrl = '{$fxArr.imgUrl}'
                ,desc = '{$fxArr.desc}'
                ,type = '{$fxArr.type}'
                ,dataUrl = '';

            //分享到朋友圈
            wx.onMenuShareTimeline({
                title: title, // 分享标题
                link: link,
                imgUrl: imgUrl, // 分享图标
                success: function () {

                }
            });

            //分享给朋友
            wx.onMenuShareAppMessage({
                title: title, // 分享标题
                desc: desc, // 分享描述
                link: link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl: imgUrl, // 分享图标
                type: type, // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {

                }
            });

            //分享到QQ
            wx.onMenuShareQQ({
                title: title, // 分享标题
                desc: desc, // 分享描述
                link: link, // 分享链接
                imgUrl: imgUrl, // 分享图标
                success: function () {

                },
                cancel: function () {

                }
            });

            //分享到腾讯微博
            wx.onMenuShareWeibo({
                title: title, // 分享标题
                desc: desc, // 分享描述
                link: link, // 分享链接
                imgUrl: imgUrl, // 分享图标
                success: function () {

                },
                cancel: function () {

                }
            });

            //分享到QQ空间
            wx.onMenuShareQZone({
                title: title, // 分享标题
                desc: desc, // 分享描述
                link: link, // 分享链接
                imgUrl: imgUrl, // 分享图标
                success: function () {

                },
                cancel: function () {

                }
            });
        });

        wx.error(function(res){
            //alert(JSON.parse(res))
            console.log(res);
        });

    </script>

</html>
